@model TrashCollector2.Models.Pickup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pickup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Worker.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suspended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suspended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuspensionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuspensionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OneTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OneTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@if (User.IsInRole("Worker"))
{
    <div id="map"></div>
    <style>
        #map {
            width: 100%;
            height: 400px;
            background-color: grey;
        }
    </style>
    <body>
        <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALBFZuNCwF1ecDBWm5MOzl9C6WvxQMs6s&callback=initMap">
        </script>
    </body>
}